{{#each results}}
<div id="article" class="card horizontal">
    <div class="card-image">
        <img src={{img}} alt="article picture" id="artPic">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <a href="{{url}}">{{title}}</a>
            <div>{{author}}</div>
            <div id="artDate">{{pubDate}}</div>
            <div id="artBlurb">{{blurb}}</div>
            <div id="artComCount" class="right">{{comments.length}} Comments </div>
        </div>
        <div class="card-action">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <a id="expand">Expand</a>
                    </div>
                    <div class="collapsible-body">
                        {{#each comments}}
                        <div>{{user}}</div>
                        <div>{{body}}</div>
                        <div>{{date}}</div>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="commentId" value={{id}}>
                            <input type="hidden" name="articleId" value={{../id}}>
                            <button type="submit">Delete</button>
                        </form>
                        {{/each}}
                        <form action="/postComment" method="POST">

                            <input type="hidden" name="articleId" value={{id}}>
                            <div class="input-field">
                                <input type="text" name="username" id="username">
                                <label for="username">Name</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="body" id="body">
                                <label for="body">Comment</label>
                            </div>
                            <button type="submit" class="btn">submit</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{/each}}